.app-warning-font{
  color:var(--warning-color) !important;
}
.app-white-font{
  color: var(--app-white-back-color) !important;
}
.app-regular-font{
  color: var(--el-text-color-regular) !important;
}
.app-primary-font{
  color:var(--primary-color) !important;
}
