.flex {
	display: flex;
	flex-wrap: wrap;
}
.flex-col {
	display: flex;
	flex-direction: column;
}
.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.align-cenetr {
	align-items: center;
}
.align-start {
	align-items: flex-start;
}
.align-end {
	align-items: flex-end;
}

.justify-center {
	justify-content: center;
}
.justify-start {
	justify-content: start;
}
.justify-end {
	justify-content: end;
}
.justify-between {
	justify-content: space-between;
}

.flex-1 {
	flex: 1;
	overflow: hidden;
}
