.inp-w-200{
  width:200px !important;
}
.app-max-width{
  width: var(--app-max-edit-width) !important;
}
.app-5-words{
  width: 84px;
}

.app-words-1{
  font-size: var(--app-font-1);
}
.app-words-2{
  font-size: var(--app-font-2);
}
.app-words-800{
  font-weight: 800;
}

.inp-w280{
  width:280px;
}
.box-162{
  width: var(--app-inline-box-wh);
  height: var(--app-inline-box-wh);
}
.mt-10{
  margin-top: 10px;
}
.mt-6{
  margin-top: 6px;
}